main {
  margin-left: 240px;
  transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  
  &.sidebar-collapsed {
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  main {
    margin-left: 80px;
    
    &.sidebar-collapsed {
      margin-left: 80px;
    }
  }
}
