@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 700);
$my-accent: mat.define-palette(mat.$blue-palette, A200);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);

// Custom Material overrides
.mat-mdc-icon-button {
  --mdc-icon-button-state-layer-size: 40px;
}

.mat-icon {
  font-family: 'Material Icons' !important;
}
